<!-- app/views/listing_mailer/listing_approved.html.erb -->
<h1>Your listing has been approved</h1>

<p>Hello <%= @user.email %>,</p>

<p>Your listing "<%= @listing.name %>" has been approved and is now visible on our platform.</p>

<p>Thank you for using NanoSaaS!</p>